@import url("https://fonts.googleapis.com/css2?family=Andika+New+Basic:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-image: linear-gradient(30deg, #ef008f, #6ec3f4, #7038ff, #ffba27);
  font-family: "Andika New Basic", sans-serif;
  perspective: 1500px;
}

header {
  display: flex;
  padding: 1.5rem 3rem;
  justify-content: space-around;
  align-items: center;
}

.nav__links {
  display: flex;
  list-style: none;
  color: #fff;
  font-weight: 700;
}

.nav--link {
  padding: 0 1rem;
  transition: opacity 100ms linear;
  cursor: pointer;
}

.btn {
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  font-family: inherit;
  font-weight: 700;
  color: #fff;
  outline: none;
  border: none;
  background-color: #ffffff35;
  border-radius: 2rem;
  transition: background-color 100ms linear;
  cursor: pointer;
}

.arrow {
  width: 20px;
  height: 10px;
  position: relative;
  transform: translateX(-4px);
}

.line {
  position: absolute;
  top: 46%;
  right: 0;
  height: 2px;
  width: 7px;
  background-color: #fff;
  transform-origin: 100% 50%;
}

.arrow--sideUp {
  transform: rotate(45deg);
}

.arrow--sideDown {
  transform: rotate(-45deg);
}

.arrow--hoverLine {
  width: 12px;
  transform: scale(0);
}

.arrow,
.line {
  transition: transform 100ms ease-in;
}

.btn--primary:hover {
  background-color: #ffffff65;
}

.btn:hover .arrow {
  transform: none;
}

.btn:hover .arrow--hoverLine {
  transform: scale(1);
}

.tip {
  width: 1.25rem;
  height: 1.25rem;
  background-color: #fff;
  position: absolute;
  top: 4.15rem;
  left: 0;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  transition: transform 100ms linear;
  opacity: 0;
}

.header__expandMenu {
  position: absolute;
  top: 4.5rem;
  left: 50%;
  width: 95%;
  height: 90%;
  transform-origin: 0%;
  transform: translateX(-50%) rotate3d(1, 0, 0, -15deg);
  background-color: white;
  border-radius: 0.5rem;
  perspective: 100px;
  transition: width 200ms ease, height 200ms ease, opacity 150ms ease,
    transform 150ms ease-in;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
}

.menu__container {
  width: 100%;
  height: 100%;
  background-color: white;
}

.menu__container > * {
  position: absolute;
  top: 0;
  left: 50%;
  padding: 2rem;
  overflow: hidden;
  transform: translateX(-35%);
  transition: transform 250ms linear, opacity 250ms ease;
  opacity: 0;
}

#products {
  display: grid;
  grid-template-columns: repeat(3, 300px);
}

#developers,
#company {
  display: grid;
  grid-template-columns: repeat(2, 225px);
  row-gap: 2rem;
}

.item--one {
  grid-column: span 2;
}

#use-cases {
  width: 450px;
}

.subMenu__items {
  list-style: none;
}

.title {
  font-size: 0.85rem;
  margin-bottom: 1.75rem;
}

.subMenu--item {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.label__container {
  margin-left: 0.75rem;
}

.label {
  font-size: 0.9rem;
  font-weight: 700;
  color: rgba(0, 0, 73, 0.644);
}

.label--desc {
  font-size: 0.9rem;
  color: rgb(83, 83, 83);
  transform: translateY(-3px);
  transition: color 100ms ease;
}

.subMenu--item + .subMenu--item {
  margin-top: 1.5rem;
}

.icon--production {
  transform: translateY(-55%) scale(1.1);
}

.right--arrow {
  width: 12px;
  transform: translateY(1px) scale(0, 1);
  transition: transform 150ms ease-in-out;
}

.subMenu--item:hover .right--arrow {
  transform: translateY(1.75px) scale(1);
}

.subMenu--item:hover .label--desc {
  color: black;
}

.active {
  z-index: 1;
  opacity: 1;
  transform: translatex(-50%);
}

.prev {
  transform: translateX(-65%);
}

.expand {
  opacity: 1;
  pointer-events: all;
  transform: translateX(-50%) rotateX(0);
}

.hover {
  opacity: 0.5;
}

.new--expand {
  transition: opacity 150ms ease, transform 150ms ease-in;
}

.first {
  transition: none;
}

.sec--menu .subMenu--item + .subMenu--item {
  margin-top: 0.5rem;
}

.sec__title {
  color: grey;
  margin-bottom: 0.65rem;
}

.sec__links {
  list-style: none;
  padding: 0 0 0.2rem 0;
}

.sec__links > li {
  cursor: pointer;
  font-size: 0.85rem;
  font-weight: 400;
}

.sec__links--container {
  padding-left: 2rem;
}

.more__info {
  grid-column: span 2;
}

.more__links {
  padding-left: 1.5rem;
}

a {
  text-decoration: none;
  display: block;
  color: rgb(0, 0, 73);
}
a:hover {
  text-decoration: underline dotted;
}

@media (max-width: 1100px) {
  #products {
    grid-template-columns: repeat(2, 300px);
    row-gap: 2rem;
    height: 660px;
  }
}
